Repository ROCm/rocPRIM, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stanleytsang-amd, @umfranzw, @RobsonRLemos, @lawruble13, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @stanleytsang-amd @umfranzw @RobsonRLemos @lawruble13
# Documentation files
docs/ @ROCm/rocm-documentation
*.md @ROCm/rocm-documentation
*.rst @ROCm/rocm-documentation
.readthedocs.yaml @ROCm/rocm-documentation

Update rocm-cmake version used
  cmake/Dependencies.cmake
  docs/CMakeLists.txt
Owners: @stanleytsang-amd, @umfranzw, @RobsonRLemos, @lawruble13, @ROCm/rocm-documentation

Correct pip compile cmd
  docs/sphinx/requirements.txt
Owners: @ROCm/rocm-documentation

CMake documentation builds (#583)
  CMakeLists.txt
  README.md
  cmake/Dependencies.cmake
  cmake/Summary.cmake
  docs/CMakeLists.txt
Owners: @stanleytsang-amd, @umfranzw, @RobsonRLemos, @lawruble13, @ROCm/rocm-documentation

CMake documentation builds (#583)
  CMakeLists.txt
  README.md
  cmake/Dependencies.cmake
  cmake/Summary.cmake
  docs/CMakeLists.txt
Owners: @stanleytsang-amd, @umfranzw, @RobsonRLemos, @lawruble13, @ROCm/rocm-documentation

Reduce rocm-cmake ver dep
  cmake/Dependencies.cmake
Owners: @stanleytsang-amd, @umfranzw, @RobsonRLemos, @lawruble13

updated changelog
  CHANGELOG.md
Owners: @ROCm/rocm-documentation

removed debug comments
  benchmark/benchmark_block_run_length_decode.cpp
  benchmark/benchmark_config_dispatch.cpp
Owners: @stanleytsang-amd, @umfranzw, @RobsonRLemos, @lawruble13

Add gfx1151 target
  CMakeLists.txt
Owners: @stanleytsang-amd, @umfranzw, @RobsonRLemos, @lawruble13

Reduce rocm-cmake ver dep (#584)
  cmake/Dependencies.cmake
Owners: @stanleytsang-amd, @umfranzw, @RobsonRLemos, @lawruble13

Reduce rocm-cmake ver dep (#584)
  cmake/Dependencies.cmake
Owners: @stanleytsang-amd, @umfranzw, @RobsonRLemos, @lawruble13
