Repository ROCm/rocPRIM, pull requests merged in 2024-07, with the labels that each got.

#577 Enable gfx12 support
  CMakeLists.txt
  rocprim/include/rocprim/iterator/texture_cache_iterator.hpp
  rocprim/include/rocprim/thread/thread_load.hpp
  rocprim/include/rocprim/thread/thread_store.hpp
  test/rocprim/test_texture_cache_iterator.cpp
Labels: gfx12

#583 CMake documentation builds
  CMakeLists.txt
  README.md
  cmake/Dependencies.cmake
  cmake/Summary.cmake
  docs/CMakeLists.txt
Labels: ci:docs-only, documentation

#584 Reduce rocm-cmake version dependency
  cmake/Dependencies.cmake
Labels: dependencies

#579 Cherry pick documentation requirement update #564 for 6.2
  .github/CODEOWNERS
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Labels: ci:docs-only, documentation
