Repository ROCm/rocPRIM, pull requests merged in 2024-06, with the labels that each got.

#564 Update Read the Docs config to Python 3.10 and latest rocm-docs-core
  .github/CODEOWNERS
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Labels: dependencies, ci:docs-only

#568 cmake: don't set CMAKE_C_COMPILER, as rocPRIM is a CXX project
  .gitlab-ci.yml
  toolchain-linux.cmake
  toolchain-windows.cmake
Labels: ci:static-libraries

#567 cmake: don't set CMAKE_C_COMPILER, as rocPRIM is a CXX project
  .gitlab-ci.yml
  toolchain-linux.cmake
  toolchain-windows.cmake
Labels: ci:static-libraries

#574 Add developer.rst to release/6.2
  docs/concepts/concepts.rst
  docs/concepts/developer.rst
  docs/index.rst
  docs/sphinx/_toc.yml.in
Labels: ci:docs-only
